.fashion {
  padding-top: 115px;
  background-color: #fff;
}
.fashion-container {
  max-width: 1128px;
  margin: 0 auto;
}
.fashion-title {
  font-size: 20px;
  font-weight: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.fashion-text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 65px;
}
.fashion-cards {
  display: flex;
  gap: 22px;
}
.card-img {
  transition: transform 0.2s ease-in;
}
.fashion-card:hover .card-img {
  transform: scale(110%);
}
.card-photo {
  margin-bottom: 38px;
  overflow: hidden;
}
.card-category {
  font-size: 15px;
  font-weight: 300;
}
.card-title {
  font-size: 15px;
  font-weight: 600;
}
.old_price {
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 25px;
}
.new_price {
  font-size: 15px;
  font-weight: 400;
  color: #cf2929;
  display: inline-block;
  transition-property: background-color, color;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}
.new_price:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}
