.footer {
  background-color: #fff;
}
.footer-top {
  background-color: #f2f9f7;
  padding-bottom: 105px;
  padding-top: 115px;
}
.footer-cooperation {
  max-width: 405px;
}
.footer-column {
  max-width: 530px;
  flex-grow: 1;
}
.cooperation-title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 17px;
}
.cooperation-address {
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  display: flex;
  gap: 26px;
  align-items: center;
  margin-bottom: 16px;
}
.cooperation-address::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(./src/img/location.svg);
  background-size: cover;
  background-position: relative;
}
.cooperation-mail {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  transition: opacity 0.4s ease-in;
}
.cooperation-mail:hover {
  opacity: 0.7;
}
.cooperation-mail::after {
  content: "";
  width: 100%;
  background-color: #22262a;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.cooperation-tel {
  display: block;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
  transition: opacity 0.4s ease-in;
}
.cooperation-tel:hover {
  opacity: 0.7;
}
.cooperation-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 40px;
}
.footer-bottom {
  background-color: #e7f5f8;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 0 0 60px 60px;
}
.footer-text {
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.social-item {
  transition: transform 0.2s ease-in;
}
.social-item:hover {
  transform: translateY(-5px) scale(2);
}
.social-list {
  display: flex;
  gap: 17px;
  align-items: center;
}
.social-icon {
  width: 13px;
  height: 13px;
}
.subscribe-title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 25px;
}
.scribeubs-form {
  background-color: #fff;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 70px;
}
.subscribe-button {
  font-weight: 600;
  font-size: 15px;
  color: #22262a;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  transition: opacity 0.2s ease-in;
}
.subscribe-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.subscribe-email::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #22262a;
  font-family: "Poppins", sans-serif;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
}
.navigation-item-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 30px;
}
.navigation-item-title {
  font-weight: 600;
  font-size: 20px;
}
.footer-nav-link {
  font-weight: 400;
  font-size: 15px;
  transition-property: background-color, color;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}
.footer-nav-link:hover {
  color: #fff;
  background-color: black;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
